// _navbar.scss
.navbar {
  background-color: $blue;
  padding: 0.5rem 1rem;

  .navbar-brand {
    color: $white;
    &:hover {
      color: lighten($white, 10%);
    }
  }

  .nav-link {
    color: $gray-100;
    &:hover {
      color: $white;
    }
  }
}

